
body {
    font-family: Arial, sans-serif;


    background: linear-gradient(to bottom, #d5467c 0%, #d5467c 20%, #d5467c 40%, #f0a3c0 50%, #ecc8d6 60%, rgb(226, 226, 204) 80%, rgb(242, 242, 242) 100%)

    

}
.banner a img {
    border: 2px solid black;
}


header {
    background-color: rgb(116, 152, 200);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out; 
    padding: 20px;
    height: 70px;
    border-bottom: black solid 2px;
}

header.scrolled {
    background-color: rgba(146, 146, 146, 0.7); 
}


header nav ul li img {
    margin-top: -20px;
    width: 60px;
    height: 60px;
    margin-left: -70px;
    
}
header nav ul li input {
    width: 700px;
    height: 40px;
    top: -10px;
    position: relative;
    border-radius: 7px;
}
nav ul {
    display: flex ;
    position: relative;
    justify-content: space-around;
    list-style: none;
    top: -10px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.cart {
    margin-left: -40px;
    top: -4px;
    position: relative;
}



.btn {
    position: relative;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    top: -85px;
    margin-left: 850px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    z-index: 998;
    position: relative;
    top: -210px;
}


footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.fas {
    font-size: 24px;
    color: #000;
}

.fas:hover {
    color: #fff;
}

.featured-products {
    margin-top: 20px;
    margin-bottom: 20px;
}

.h2-heading {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 60px;


}
   
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    z-index: 998;
    
}
   
.product-item {
    margin-top: 40px;
    border: 0px solid #000000;
    padding: 15px;
    text-align: center;
    z-index: 999;
    
}

.product-item a {
    text-decoration: none;
    color: black;
    z-index: 998;

}
   
.product-item:hover {
    box-shadow: 10px 10px 10px grey;
    transform: translateY(-10px);
    transition: transform 330ms ease-in-out;

}


.h2-categories {
    text-align: center;
}


.category-item {
    border: 0px solid teal;
    margin-top: 5px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    z-index: 998;

}

.category-item a {
    text-decoration: none;
    margin-top: 40px;
    border-radius: 5px;
    padding: 15px;
    color: black;
    z-index: 998;
}
   
.category-item:hover {
    box-shadow: 10px 10px 10px grey;
    transform: translateY(-10px);
    transition: transform 330ms ease-in-out;

}

.category-item a img {
    width: 300px;
    height: 200px;
}


#canv {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998; 
    pointer-events: none; 

}

.hr-body {
    border-top: 3px solid black;

}

footer{
    margin-top: 19.5%;
    width: 100%;

  }
footer ul {
    list-style-type: none;
}  
.left {
    float: left;
    margin-top: -35px;
}
.right {
    float: right;
    margin-top: -35px;
    margin-right: 30px;
}

footer ul li a{
    text-decoration: none;
}

.productimg {
    margin-top: 100px;
    margin-left: 400px;      
    margin-bottom: 100px;
}