* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    display: flex ;
    justify-content: space-around;
    list-style: none;
    margin-top: 30px;
    margin-bottom: -15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li img {
    margin-left: -70px;
    margin-top: -40px;

}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 500px;
    object-fit: fill;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-align: center;
}

.banner-text h1 {
    font-size: 36px;
}

.banner-text p {
    font-size: 24px;
}

.btn {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.fas {
    font-size: 24px;
    color: #000;
}

.fas:hover {
    color: #f1c40f;
}

