
body {
    font-family: Arial, sans-serif;


    background: linear-gradient(to bottom, #d5467c 0%, #d5467c 20%, #d5467c 40%, #f0a3c0 50%, #ecc8d6 60%, rgb(226, 226, 204) 80%, rgb(242, 242, 242) 100%)

    

}
.banner a img {
    border: 2px solid black;
}

aside{
    background-color: rgb(217, 216, 216);
    height:100%;
    width:300px;
    float: left;
}
aside ul li{
    text-decoration: none;
    list-style-type: none;
    margin-left: -30px;
    
}

aside ul li li{
    margin-left: -20px;
    line-height: 35px;
}

header {
    background-color: rgb(116, 152, 200);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out; 
    padding: 20px;
    height: 70px;
    border-bottom: black solid 2px;
}

header.scrolled {
    background-color: rgba(146, 146, 146, 0.7); 
}


header nav ul li img {
    margin-top: -20px;
    width: 60px;
    height: 60px;
    margin-left: -70px;
    
}
header nav ul li input {
    width: 700px;
    height: 40px;
    top: -10px;
    position: relative;
    border-radius: 7px;
}
nav ul {
    display: flex ;
    position: relative;
    justify-content: space-around;
    list-style: none;
    top: -10px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.cart {
    margin-left: -40px;
    top: -4px;
    position: relative;
}



.btn {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    z-index: 998;
    position: relative;
    top: -210px;
}


footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.fas {
    font-size: 24px;
    color: #000;
}

.fas:hover {
    color: #fff;
}

.featured-products {
    margin-top: 20px;
    margin-bottom: 20px;
}

.h2-heading {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 60px;


}
   
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    z-index: 998;
    
}
   
.product-item {
    margin-top: 40px;
    border: 0px solid #000000;
    padding: 15px;
    text-align: center;
    z-index: 999;
    
}

.product-item a {
    text-decoration: none;
    color: black;
    z-index: 998;

}
   
.product-item:hover {
    box-shadow: 10px 10px 10px grey;
    transform: translateY(-10px);
    transition: transform 330ms ease-in-out;

}


.h2-categories {
    text-align: center;
}


.category-item {
    border: 0px solid teal;
    margin-top: 5px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    z-index: 998;

}

.category-item a {
    text-decoration: none;
    margin-top: 40px;
    border-radius: 5px;
    padding: 15px;
    color: black;
    z-index: 998;
}
   
.category-item:hover {
    box-shadow: 10px 10px 10px grey;
    transform: translateY(-10px);
    transition: transform 330ms ease-in-out;

}

.category-item a img {
    width: 300px;
    height: 200px;
}


#canv {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998; 
    pointer-events: none; 

}



.slideshow-container {
    position: relative;
    margin: auto;
    z-index: 2;
    margin-bottom: 20px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    transition: opacity 1s ease-in-out;

    
  }


  .mySlides.active {
    opacity: 1;
}
  
.mySlides img{
    margin-top: 10px;
    transition: opacity 1s ease-in-out;

    width: 100%;
    height: 500px;
    object-fit: fill;

  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 10s;
}

@keyframes fade {
    0% {opacity: 0} /* Start with completely transparent */
    25% {opacity: 0.5} /* Fade in gradually */
    50% {opacity: 1}
    75% {opacity: 0.5}
    100% {opacity: 0} /* Fully visible at the end */
}

.hr-body {
    border-top: 3px solid black;

}
.float{
    float: right;
    width: 50%;
    
    
  }

  .float li {
    margin-left: -170px;
    margin-top: 20px;
    
  }

  .products{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  
    
  }

  .picture img {
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;

  }
  
footer{
    margin-top: 19.5%;
    width: 100%;

  }

.price{
    font-size: 40px;
    margin-left: 580px;
    font-weight: bold;

}
.h1c {
    text-align: center;
            font-size: 50px;
}
.Mail {
    padding-left: 20px;
}
.mylist li:hover {
    color: blue;

}
.featured-products{
    margin-right: -400px
  }
